@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$orange : #f4ae4a;
$brown : #2d221f;
$black : #050401;

img{
    max-width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5rem;
    background-color: $brown;
}
 
@import '../pages/Login/login.scss'