.homeApp {

    .homeHeaderBg{
        width: 100%;
        background-color: $orange;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.2rem;
        position: relative;
        border-radius: 1rem;
        h4{
            font-weight: 900;
            color: $brown;
        }
        img{
            position: absolute;
            right: -10px;
            top: -65px;
        }
        margin-bottom: 1rem;
    }
    // .homeAppHeaderImg {
    //     border-radius: 10px;
    //     width: 50%;
    // }

    form {

        input,
        select {
            width: 100%;
            height: 2.5rem;
            margin-top: .5rem;
            padding: .5rem;
            border-radius: .5rem;
            border: none;
        }
        img {
            margin-top: .5rem;
        }
        .disabled-img{
            display: none;
        }
        .enabled-img{
            display: block;
        }
        .inputFile{
            padding: 0;
            color: $brown !important;
            display: inline-block;
        }
        label{
            color: $orange;
        }

    }

    .falGonder {
        background-color: $orange;
        border: none;
        width: 100%;
        height: 3rem;
        margin-top: 1rem;
        border-radius: 30px;
        font-weight: 900;
    }

    @media screen and (max-width:768px) {
        .homeAppHeaderImg {
            width: 100%;
        }
    }
}